body{

    margin: auto;
    background-image: url(nst.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: arial;
    font-size: 25px;


}


.info{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    color:aquamarine;

}

