* {

    background-color: #EEEEEE;
    margin: auto;
    background-image: url(nst.jpg);


}


.box-11 {
    display: flex;
    justify-content: flex-start;
    margin: auto;
        flex-wrap:wrap;



}


.box-1 {
    display: flex;
    justify-content: center;
    text-align: left;
    padding:30px;
        flex-wrap:wrap;
        margin:20px;



}



.gridcontainer {
    
    display: flex;
    justify-content: center;
    flex-direction:column;
    flex-wrap:wrap;
    margin:auto;


}


.gridcontainer1 {
    display: flex;
        flex-wrap:wrap;
justify-content:center;
margin:auto;
}



.gridcontainer2 {
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
margin:auto;

}

.gridcontainer3 {
    display: flex;
 justify-content:center;
    flex-wrap:wrap;


}

.gridcontainer4 {
    display: flex;

 justify-content:center;
    flex-wrap:wrap;

}
